<html>
<head>
    <link rel="stylesheet" href="/lib/css/elementUI_index.css">
</head>
<body>
    <div id="travelInfo">
        <!--标题-->
        <h2>Travel Management</h2>
        <hr>

        <!--查询-->
        <el-form :inline="true" class="demo-form-inline" :model="queryForm.travel">
            <el-form-item>
                <el-input v-model="queryForm.travel.title" placeholder="title"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.travel.description" placeholder="description"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.travel.category" placeholder="category"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.travel.author" placeholder="author"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="query">Query</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handOpenInsert">New</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="info" @click="resetQuery">Reset</el-button>
            </el-form-item>
        </el-form>

        <!--表单-->
        <div>
            <el-table :data="tableData" border style="width: 100%;text-align: center">
                <el-table-column type="index" :index="indexMethod"></el-table-column>
                <el-table-column prop="title" label="Title" width="120"></el-table-column>
                <el-table-column prop="description" label="Description" width="220"></el-table-column>
                <el-table-column prop="category" label="Category" width="120"></el-table-column>
                <el-table-column prop="author" label="Author" width="120"></el-table-column>
                <el-table-column prop="img" label="img" width="300"></el-table-column>
                <el-table-column fixed="right" label="操作" width="220">
                    <template slot-scope="scope">
                        <el-button type="primary" @click="handleOpenEdit(scope.row)" size="small">编辑</el-button>
                        <el-button type="danger" @click="handleDelete(scope.row)" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <hr>

        <!--分页-->
        <div class="block" style="margin:3rem auto auto 35rem">
            <el-pagination
                    @current-change="currentChange"
                    :current-page="page.currentPage"
                    :page-size="page.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="page.total">
            </el-pagination>
        </div>

        <!--新增信息表单-->
        <el-dialog title="新增数据" :visible.sync="dialogFormVisible2">
            <el-form :model="operationForm" label-position="right" label-width="80px">
                <el-col span="24">
                    <el-form-item label="title">
                        <el-input v-model="operationForm.title" autocomplete="off" placeholder="title"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="24">
                    <el-form-item label="description">
                        <el-input v-model="operationForm.description" placeholder="description"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="category">
                        <el-input v-model="operationForm.category" placeholder="category"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="author">
                        <el-input v-model="operationForm.author" placeholder="author"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="24">
                    <el-form-item label="img">
                        <el-input v-model="operationForm.img" placeholder="img"></el-input>
                    </el-form-item>
                </el-col>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancel">取 消</el-button>
                <el-button type="primary" @click="insert">确 定</el-button>
            </div>
        </el-dialog>

        <!--修改信息表单-->
        <el-dialog title="修改信息" :visible.sync="dialogFormVisible1">
            <el-form :model="operationForm" label-position="right" label-width="80px">
                <el-col span="24">
                    <el-form-item label="title">
                        <el-input v-model="operationForm.title" autocomplete="off" placeholder="title"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="24">
                    <el-form-item label="description">
                        <el-input v-model="operationForm.description" placeholder="description"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="category">
                        <el-input v-model="operationForm.category" placeholder="category"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="author">
                        <el-input v-model="operationForm.author" placeholder="author"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="24">
                    <el-form-item label="img">
                        <el-input v-model="operationForm.img" placeholder="img" ></el-input>
                    </el-form-item>
                </el-col>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancel">取 消</el-button>
                <el-button type="primary" @click="update">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/elementUI_index.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script>
    let app = new Vue({
        el: "#travelInfo",
        data: {
            // 查询结果表单
            tableData: [],

            //分页信息
            page: {
                pageSize: 3,
                currentPage: 1,
            },

            //查询表单信息
            queryForm: {
                travel: {},
            },

            //操作表单
            operationForm: {},

            //修改信息弹窗
            dialogFormVisible1: false,
            //新增信息弹窗
            dialogFormVisible2: false,

            status: 0,
        },
        created() {
            this.findAll();
        },
        methods: {
            //数据编号
            indexMethod: function (index) {
                return index + 1;
            },

            //查询所有数据
            findAll: function () {
                axios.get("/travel/findAll", {params: this.page}).then((res) => {
                    this.tableData = res.data.data.list;
                    // 写入分页信息
                    this.page.total = res.data.data.total;
                    this.status = 0;
                });
            },

            // 按条件查询
            query: function () {
                this.queryForm.currentPage = this.page.currentPage;
                this.queryForm.pageSize = this.page.pageSize;
                axios.post("/travel/select", this.queryForm).then((res) => {
                    if (!res.data.flag) {
                        this.$message.error(res.data.msg);
                    }
                    this.tableData = res.data.data.list;
                    this.page.total = res.data.data.total;
                    this.status = 1;
                })
            },

            //分页跳转
            currentChange: function (info) {
                this.page.currentPage = info;
                if (this.status === 0)
                    this.findAll();
                else
                    this.query();
            },

            //重置查询表单
            resetQuery: function () {
                this.page.currentPage = 1;
                this.queryForm.travel = {};
                this.findAll();
            },

            // 新增数据
            handOpenInsert: function () {
                this.dialogFormVisible2 = true;
            },
            insert: function () {
                axios.put("/travel", this.operationForm).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                        this.findAll();
                        this.dialogFormVisible2 = false;
                        this.operationForm = {};
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //编辑数据
            handleOpenEdit: function (info) {
                this.dialogFormVisible1 = true;
                this.operationForm = info;
            },
            update: function () {
                axios.post("/travel", this.operationForm).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                        this.dialogFormVisible1 = false;
                        this.operationForm = {};
                        if (this.status === 0)
                            this.findAll();
                        else
                            this.findByConditions();
                    } else {
                        this.$message.error(res.data.msg);
                    }
                })
            },

            //取消操作
            handleCancel: function () {
                this.dialogFormVisible1 = false;
                this.dialogFormVisible2 = false;
                this.operationForm = {};
            },

            //删除数据
            handleDelete: function (info) {
                this.$confirm("此操作将永久删除当前信息，是否继续？", "提示", {type: "info"}).then(() => {
                    axios.delete("/travel", {data: info}).then((res) => {
                        if (res.data.flag) {
                            this.$message.success(res.data.msg);
                            this.findAll();
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    });
                });
            },
        }
    })
</script>
</html>