<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/lib/css/elementUI_index.css">
</head>
<body>
    <div id="userInfo">
        <!--标题-->
        <h2>User Management</h2>
        <hr>

        <!--条件查询-->
        <el-form :inline="true" class="demo-form-inline" :model="queryForm.user">
            <el-form-item>
                <el-input v-model="queryForm.user.username" placeholder="username"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.user.name" placeholder="name"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.user.age" placeholder="age"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input v-model="queryForm.user.email" placeholder="email"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="findByConditions">Query</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="handleOpen_insert">New</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="info" @click="resetQuery">Reset</el-button>
            </el-form-item>
        </el-form>

        <!--查询结果表单-->
        <div>
            <el-table :data="tableData" border style="width: 100%;text-align: center">
                <el-table-column fixed type="index" :index="indexMethod"></el-table-column>
                <el-table-column fixed prop="username" label="username" width="120"></el-table-column>
                <el-table-column prop="password" label="password" width="120"></el-table-column>
                <el-table-column prop="name" label="name" width="120"></el-table-column>
                <el-table-column prop="age" label="age" width="80"></el-table-column>
                <el-table-column prop="phone" label="phone" width="120"></el-table-column>
                <el-table-column prop="email" label="email" width="200"></el-table-column>
                <el-table-column prop="address" label="address" width="240"></el-table-column>
                <el-table-column prop="head_img" label="head_img" width="200"></el-table-column>
                <el-table-column fixed="right" label="操作" width="220">
                    <template slot-scope="scope">
                        <el-button type="primary" @click="handleOpen_update(scope.row)" size="small">编辑</el-button>
                        <el-button type="danger" @click="delete_(scope.row)" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <hr>

        <!--分页-->
        <div class="block" style="margin:3rem auto auto 35rem">
            <el-pagination
                    @current-change="currentChange"
                    background
                    :current-page="page.currentPage"
                    :page-size="page.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="page.total">
            </el-pagination>
        </div>

        <!--新增信息表单-->
        <el-dialog title="新增数据" :visible.sync="dialogFormVisible2">
            <el-form :model="operationForm" label-position="right" label-width="80px">
                <el-col span="12">
                    <el-form-item label="username">
                        <el-input v-model="operationForm.username" autocomplete="off" placeholder="username"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="password">
                        <el-input v-model="operationForm.password" placeholder="password"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="name">
                        <el-input v-model="operationForm.name" placeholder="name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="age">
                        <el-input v-model="operationForm.age" placeholder="age"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="phone">
                        <el-input v-model="operationForm.phone" placeholder="phone"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="address">
                        <el-input v-model="operationForm.address" placeholder="address"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="24">
                    <el-form-item label="head_img">
                        <el-input v-model="operationForm.head_img" placeholder="head_img"></el-input>
                    </el-form-item>
                </el-col>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible2 = false">取 消</el-button>
                <el-button type="primary" @click="insert">确 定</el-button>
            </div>
        </el-dialog>

        <!--修改信息表单-->
        <el-dialog title="修改信息" :visible.sync="dialogFormVisible1">
            <el-form :model="operationForm" class="update_form" label-position="right" label-width="80px">
                <el-col span="12">
                    <el-form-item label="username">
                        <el-input v-model="operationForm.username" autocomplete="off" disabled></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="password">
                        <el-input v-model="operationForm.password" placeholder="password"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="name">
                        <el-input v-model="operationForm.name" placeholder="name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="age">
                        <el-input v-model="operationForm.age" placeholder="age"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="phone">
                        <el-input v-model="operationForm.phone" placeholder="phone"></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="address">
                        <el-input v-model="operationForm.address" placeholder="address"></el-input>
                    </el-form-item>
                </el-col>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible1 = false">取 消</el-button>
                <el-button type="primary" @click="update">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/elementUI_index.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script>
    let app = new Vue({
        el: "#userInfo",
        data: {
            //表单数据
            tableData: [],
            //当前页码
            page: {
                //初始分页参数
                pageSize: 3,
                currentPage: 1,
            },
            //查询表单
            queryForm: {
                user: {},
            },
            //操作表单
            operationForm: {},
            //插入信息表单弹窗
            dialogFormVisible2: false,
            //修改信息表单弹窗
            dialogFormVisible1: false,

            //是否是模糊查询
            status: 0,
        },
        created() {
            //查询所有信息：包括分页信息
            this.findAll();
        },
        methods: {

            //查询所有用户信息
            findAll: function () {
                axios.get("/user/findAll", {params: this.page}).then((res) => {
                    this.tableData = res.data.data.list;
                    this.page.total = res.data.data.total;
                    this.status = 0;
                });
            },

            //多条件查询
            findByConditions: function () {
                this.queryForm.currentPage = this.page.currentPage;
                this.queryForm.pageSize = this.page.pageSize;
                axios.post("/user/select", this.queryForm).then((res) => {
                    if (!res.data.flag) {
                        this.$message.error(res.data.msg);
                    }
                    this.tableData = res.data.data.list;
                    this.page.total = res.data.data.total;
                    this.status = 1;
                });
            },

            // 跳转页面查询
            currentChange: function (info) {
                this.page.currentPage = info;
                // 点击页面跳转，保持当前查询条件不变---> 在当前的查询范围内切换页面
                if (this.status === 0)
                    this.findAll();
                else
                    this.findByConditions();
            },

            //打开修改信息弹窗
            handleOpen_update: function (info) {
                this.dialogFormVisible1 = true;
                this.operationForm = info;
            },
            //提交修改信息
            update: function () {
                axios.put("/user/update", this.operationForm).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                        //关闭弹窗
                        this.dialogFormVisible1 = false
                        //刷新表单数据
                        this.findAll();
                        this.operationForm = {};
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });

            },

            //打开插入数据弹窗
            handleOpen_insert: function () {
                this.dialogFormVisible2 = true;
            },
            //提交插入数据表单
            insert: function () {
                axios.post("/user/register", this.operationForm).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                        this.findAll();
                        this.dialogFormVisible2 = false;
                        this.operationForm = {};
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //删除数据
            delete_: function (info) {
                this.$confirm("此操作将永久删除当前信息，是否继续？", "提示", {type: "info"}).then(() => {
                    axios.delete("/user/delete", {data: info}).then((res) => {
                        if (res.data.flag) {
                            this.$message.success(res.data.msg);
                            this.findAll();
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    });
                });
            },

            //数据编号
            indexMethod: function (index) {
                return index + 1;
            },

            // 重置查询表单
            resetQuery: function () {
                this.page.currentPage=1;
                this.queryForm.user = {};
                this.findAll();
            },
        }
    })
</script>
</html>