<html>
<head>
    <link rel="stylesheet" href="/lib/css/elementUI_index.css">
</head>
<body>
    <div id="Main">
        <!--标题-->
        <h2>Admin Login</h2>
        <hr>

        <!--未登录-->
        <div v-if="!isLogin" style="margin:4rem auto;width: 24rem">
            <el-form :model="loginForm" status-icon label-width="100px">
                <el-form-item label="AdminName" aria-colspan="6" aria-rowspan="6">
                    <el-input type="text" v-model="loginForm.username" autocomplete="off"
                              placeholder="Please input your adminName"></el-input>
                </el-form-item>
                <el-form-item label="Password">
                    <el-input type="password" v-model="loginForm.password" autocomplete="off"
                              placeholder="Please input your password" show-password="true"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="submitFormLogin">Log in</el-button>
                </el-form-item>
            </el-form>
        </div>

        <!--已登录-->
        <div v-else style="text-align: center">
            <h1>Welcome to the System Management</h1>
            <div style="margin: 4rem auto;width:28rem">
                <el-form :model="loginForm" status-icon label-width="120px" label-position="left">
                    <el-form-item label="AdminName">
                        <el-input type="text" v-model="loginForm.username" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="New Password">
                        <el-input type="password" v-model="loginForm.password"
                                  placeholder="Please input your new password" show-password="true"></el-input>
                    </el-form-item>
                    <el-form-item style="margin:2rem auto">
                        <el-button type="warning" @click="update">Update Password</el-button>
                        <el-button type="danger" @click="logOut">Log Out</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</body>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/elementUI_index.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#Main',
        data: {
            loginForm: {},
            isLogin: false,
        },
        created() {
            //权限控制：是否登录
            this.getLoginStatus();
        },
        methods: {
            //判断是否登录
            getLoginStatus: function () {
                axios.get("/admin/isLogin").then((res) => {
                    //已登录:获取用户名信息
                    if(res.data.flag){
                        this.loginForm.username = res.data.data.username;
                    }
                    this.isLogin = res.data.flag;
                });
            },
            //登录
            submitFormLogin: function () {
                axios.get("/admin/login", {params: this.loginForm}).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                        this.isLogin = true;
                        //登陆成功：清除表单登录密码
                        this.loginForm.password = "";
                    } else {
                        this.$message.error(res.data.msg);
                        //登录失败：清除登录表单信息
                        this.loginForm = {};
                    }
                });
            },
            // 修改管理员密码
            update: function () {
                axios.put("/admin",this.loginForm).then((res) => {
                    if (res.data.flag) {
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                    this.loginForm.password = "";
                });
            },
            // 注销
            logOut: function () {
                axios.get("/admin/logOut").then(() => {
                    this.isLogin = false;
                })
            }
        },
    });
</script>
</html>