<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>简历模板</title>
    <link rel="stylesheet" href="/lib/css/resume_style.css">
    <link rel="stylesheet" href="/lib/css/elementUI_index.css">
</head>
<body>
    <div id="resume">
        <div class="no-print">
            <el-button type="success" @click="toPdf">导出到本地<i class="el-icon-download el-icon--right"></i></el-button>
            <el-button type="primary" @click="save">保存到云端<i class="el-icon-upload el-icon--right"></i></el-button>
        </div>

        <div class="row_layout">
            <div class="resume" style="width: 210.0mm;">
                <div class="inner_resume" style="margin: 20.0mm 20.0mm 20.0mm 20.0mm;">
                    <!--个人基本信息-->
                    <div>
                        <table class="photo_table">
                            <tbody>
                            <tr>
                                <td>
                                    <!--头部基本信息-->
                                    <div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: bottom; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="name">
                                                        <pre style="min-height: 24pt; margin: 1.0mm 1.0mm 0.0mm 1.5mm;"><span
                                                                class="Arial"
                                                                style="font-size: 24pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.name}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: #ffffff; text-align: left; vertical-align: bottom; border-top: 1.5pt none #000000; border-right: 1.5pt none #000000; border-bottom: 1.5pt none #000000; border-left: 1.5pt none #000000;">
                                                        <input type="hidden" name="key" value="content">
                                                        <pre style="min-height: 10.5pt; margin: 1.5mm 3.0mm 0.5mm 1.5mm;"><span
                                                                class="Arial"
                                                                style="font-size: 10.5pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">求职意向：{{resumeInfo.basicInfo.job_profile}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--基本信息-->
                                    <div>
                                        <blank></blank>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #000000; text-align: left; vertical-align: bottom; border-top: 0.75pt none #999999; border-right: 0.75pt none #999999; border-bottom: 0.75pt none #999999; border-left: 0.75pt none #999999;">
                                                        <input type="hidden" name="key" value="title">
                                                        <pre style="min-height: 11pt; margin: 1.5mm 3.0mm 0.5mm 1.5mm;"><span
                                                                class="Arial"
                                                                style="font-size: 11pt; color: #ffffff; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">基本信息</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: #ffffff; text-align: left; vertical-align: bottom; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="">
                                                        <pre style="min-height: 11pt; margin: 1.5mm 3.0mm 0.5mm 1.5mm;"><span
                                                                class="Arial"
                                                                style="font-size: 11pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">联系方式</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 14.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="phone_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">手机</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                                        <input type="hidden" name="key" value="phone">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.phone}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 14.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="email_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">邮箱</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                                        <input type="hidden" name="key" value="email">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.email}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 14.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="address_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">地址</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                                        <input type="hidden" name="key" value="address">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.address}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">个人信息</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 14.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="nation_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">民族</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 30.5556%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                                        <input type="hidden" name="key" value="nation">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.national}}</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 15.9259%; background-color: #ffffff; text-align: center; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="politic_status_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">性别</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="politic_status">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.gender}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="cell border_box"
                                                        style="width: 20.0%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 14.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="hukou_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">籍贯</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 30.5556%; background-color: #ffffff; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                                        <input type="hidden" name="key" value="hukou">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.native_place}}</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: 15.9259%; background-color: #ffffff; text-align: center; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="birthday_label">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">年龄</span></pre>
                                                    </td>
                                                    <td class="cell border_box"
                                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                                        <input type="hidden" name="key" value="birthday">
                                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 3.0mm;"><span
                                                                class="Tahoma"
                                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.basicInfo.age}}</span></pre>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                                <!--简历照片-->
                                <td class="border_box"
                                    style="border-top: 1pt none #999999; border-right: 1pt none #999999; border-bottom: 1pt none #999999; border-left: 1pt none #999999; width: 31.0mm; background-color: transparent;">
                                    <img alt="简历求职照" :src="resumeInfo.basicInfo.img"
                                         style="width: 25.0mm; height: 35.0mm; margin: 25.0mm 3.0mm 0.0mm 3.0mm;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--教育经历-->
                    <div>
                        <blank></blank>
                        <head_title title="教育经历"></head_title>
                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="cell border_box"
                                        style="width: 16.0%; background-color: transparent; text-align: left; vertical-align: top; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="label">
                                        <pre style="min-height: 10pt; margin: 1.0mm 0.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">学习经历</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 26.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="college_label">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">学校</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 23.7947%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt solid #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="major_label">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">专业</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 13.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt solid #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                        <input type="hidden" name="key" value="degree_label">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">学历</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt solid #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                        <input type="hidden" name="key" value="period_label">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">时间</span></pre>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="cell border_box"
                                        style="width: 16.0%; background-color: transparent; text-align: left; vertical-align: top; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt none #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="">
                                        <pre style="min-height: 10pt; margin: 1.0mm 0.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 26.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="college">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.educationInfo.school}}</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 23.7947%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt none #000000;">
                                        <input type="hidden" name="key" value="major">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.educationInfo.profession}}</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: 13.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                        <input type="hidden" name="key" value="degree">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.educationInfo.learning_record}}</span></pre>
                                    </td>
                                    <td class="cell border_box"
                                        style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #000000; border-right: 0.75pt none #000000; border-bottom: 0.75pt solid #000000; border-left: 0.75pt solid #000000;">
                                        <input type="hidden" name="key" value="period">
                                        <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 1.0mm 1.5mm;"><span
                                                class="Tahoma"
                                                style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.15;">{{resumeInfo.educationInfo.learning_time}}</span></pre>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <description_bottom :content="resumeInfo.educationInfo.profile"></description_bottom>
                    </div>

                    <!--个人能力-->
                    <div>
                        <blank></blank>
                        <head_title title="个人能力"></head_title>
                        <description_single v-for="(item,index) in resumeInfo.personalAbility" :key="index"
                                            :title="item.name" :content="item.description">
                        </description_single>
                    </div>

                    <!--项目经历-->
                    <div>
                        <blank></blank>
                        <head_title title="项目经历"></head_title>
                        <description_single v-for="(item,index) in resumeInfo.projectExperience" :title="item.name"
                                            :content="item.description" :key="index"></description_single>
                    </div>

                    <!--获奖荣誉-->
                    <div>
                        <blank></blank>
                        <head_title title="获奖荣誉"></head_title>
                        <description_single v-for="(item,index) in resumeInfo.winnerHonor" :title="item.name"
                                            :content="item.description" :key="index"></description_single>
                    </div>

                    <!--个人评价-->
                    <div>
                        <blank></blank>
                        <head_title title="自我评价"></head_title>
                        <description_single v-for="(item,index) in resumeInfo.personalProfile" :title="item.name"
                                            :content="item.description" :key="index"></description_single>
                        <blank></blank>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/elementUI_index.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script src="/lib/js/resume_template.js"></script>
<script>
    let resume = new Vue({
        el: "#resume",
        data: {
            resumeInfo: {
                //用户信息
                user:{
                    username:"",
                },
                //基础信息
                basicInfo: {
                    name: "",
                    job_profile: "",
                    phone: "",
                    email: "",
                    address: "",
                    national: "",
                    gender: "",
                    native_place: "",
                    age: "",
                    img: "/lib/img/login_bg.jpg"
                },
                //教育经历
                educationInfo: {
                    school: "",
                    profession: "",
                    learning_record: "",
                    learning_time: "",
                    profile: "",
                },
                //个人能力
                personalAbility: [
                    {
                        name: "",
                        description: ""
                    },

                ],
                //项目经历
                projectExperience: [
                    {
                        name: "",
                        description: ""
                    },

                ],
                //获奖荣誉
                winnerHonor: [
                    {
                        name: "",
                        description: ""
                    },
                ],
                //自我评价
                personalProfile: [
                    {
                        name: "",
                        description: ""
                    },
                ],
            }
        },
        created(){
            this.get();
        },
        methods: {
            //获取服务器Session简历信息
            get:function(){
              axios.get("/resume/getResume").then((res)=>{
                 if(res.data.flag){
                     this.$message.success(res.data.msg);
                     this.resumeInfo = res.data.data;
                 }
                 else
                     this.$message.error(res.data.msg);
              });
            },

            //上传简历信息
            save:function(){
                axios.post("/resume",this.resumeInfo).then((res)=>{
                    if(res.data.flag){
                        this.$message.success(res.data.msg);
                    }
                    else{
                        this.$message.error(res.data.msg);
                    }
                }).catch(()=>{
                    this.$message.error("无法与服务器取得连接，你可以尝试将简历导出到本地");
                });
            },

            //导出为pdf
            toPdf: function () {
                window.print();
            }
        }
    });
</script>

</html>